/* here we are dealing with coding the footer of the page */
.footer{
    padding: 80px 50px 3px 50px;
    background-color: #333;
}
.footer .first{
    display: flex;
    justify-content: center;
    gap: 140px;
    color: #fff;
}
.footer .first .nikeLogo .check{
    font-size: 27px;
    text-transform: capitalize;
}
.footer .first .nikeLogo .Smedia{
    display: flex;
    gap:20px;
    margin-left: -43px;
    list-style-type: none;
}
.footer .first .nikeLogo .Smedia li{
    color: #fff;
    background-color: #5d5555;
    padding: 7px;
    border-radius: 50%;
}
.footer .first .same-heading{
    margin-top: 30px;
}
.footer .first .same-heading .same-text{
    text-transform: capitalize;
    font-size: 15px;
}
.footer .first .same-heading ul{
    margin-left: -37px;
    text-transform: capitalize;
}
.footer .first .same-heading ul li{
    list-style-type: none;
}
.footer .second{
    margin-top: 37px;
    padding-right: 50px;
}
.footer .second ul{
    display: flex;
    justify-content: space-between;
}
.footer .second ul li{
    color: #f6e8e8;
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
}